:root {
  --basic-white: #ffffff;
  --basik-dark-white: #E5E5E5;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-extralight-black: #666666;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-neytral: #eeeeee;
  --basic-light-brown: #766357;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-dark-brown: #503E33;
  --basic-light-grey: #F2F2F2;
  --basic-grey: #A9A9A9;
  --basic-pale-grey: #CACACA;
  --htmlacademy-active: #BDBBBC;


  --special-blue: #2C95BB;
  --special-brown: #935C61;
  --special-red: #ED8089;
  --special-green: #6A996C;
}

@font-face {
  font-family: "PTSans";
  src:
    url("PTSans-Bold.woff2") format("woff2"),
    url("PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src:
    url("PTSans.woff2") format("woff2"),
    url("PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

.page-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  min-height: 100%;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}


/* Main navigation */

.page-body {
  position: relative;
}

.page-wrapper {
  position: relative;
}

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-navigation {
  position: relative;
  height: 50px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 530px;
  top: 0px;
  z-index: 2;
}

.site-navigation {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
}

.site-navigation-information-link {
  padding-left: 70px;
}

.site-navigation-hotels-link {
  padding-left: 130px;
}

.site-navigation-state-map-link {
  padding-left: 200px;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:focus {
  color: var(--basic-light-brown);
}

.site-navigation-hotels-link.active {
  color: var(--basic-light-brown);
}

.site-navigation-hotels-link.active:hover {
  color: var(--basic-light-brown);
}


/* Main */


.container-header {
  background-color: var(--special-blue);
  background:
    url("../img/shape.svg") no-repeat bottom center,
    url("../img/background_photo.png") no-repeat;
  width: 1200px;
  height: 509px;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.features {
  width: 1200px;
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}


h2 {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.description-title {
  display: block;
  width: 500px;
  height: 80px;
  margin: 2px auto;
}

.description-promo {
  display: block;
  align-items: center;
  text-align: center;
  margin: 2px auto 26px;
  font-family: "PT sans", Arial, sans-serif;
}

.features-list {
  font-family: "PT sans", Arial, sans-serif;
  list-style: none;
  padding: 0;
}

.features-city {
  height: 256px;
  color: var(--basic-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-city-wrap {
  background-color: var(--special-brown);
  align-self: center;
  width: 800px;
  height: 256px;
}

.features-city-wrap {
  font-family: "PT Sans", Arial, sans-serif;
  width: 400px;
  height: 256px;
  padding: 30px;
  background-color: var(--basic-blue);
  text-align: center;
}

.features-city-real {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  display: block;
  padding-top: 15px;
}

.features-city-descr {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: block;
  padding-top: 15px;

}

.features-city img {
  background-color: var(--special-blue);
}

.features-offer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 300px;
  font-family: "PT Sans", Arial, sans-serif;

}

.features-offer-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-offer-descr {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-light-black)
}

.features-offer-house {
  background-image: url("../img/icon_house.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  width: 400px;
  text-align: center;
  padding: 142px 40px 52px 40px;
}

.features-offer-food {
  background-image: url("../img/icon_burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  width: 400px;
  text-align: center;
  padding: 142px 40px 52px 40px;
}

.features-offer-gift {
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  width: 400px;
  text-align: center;
  padding: 142px 40px 52px 40px;
}

.features-special-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-neytral);
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-special {
  width: 400px;
  text-align: center;
  background-color: var(--basic-neytral);
  padding: 52px 40px 52px 40px;
}

.features-special-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  display: block;
}

.features-special-descr {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-light-black) display: block;
  padding-top: 10px;
}

/* Search hotel popup */

.search-hotel {
  display: block;
  text-align: center;
  height: 290px;
}

.interested {
  display: block;
  margin: 2px auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.search-hotel-book {
  display: block;
  margin: 30px auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.footer-contacts {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts p {
  display: block;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 145px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-link {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: var(--basic-dark-blue);
}

.social-link:active {
  background-color: var(--basic-extra-dark-blue);
}

.social-link:active path {
  opacity: 30%;
}

.copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright-wrapper p {
  margin-right: 10px;
}

.footer-htmlacademy:hover path {
  fill: var(--basic-blue);
}

.footer-htmlacademy:active path {
  fill: var(--htmlacademy-active);
}


/* Catalog page */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.container-catalog {
  display: grid;
}

.filters {
  background-color: var(--special-blue);
  background: url("../img/background_photo.png") no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 1200px;
  height: 217px;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 217px;
  justify-items: center;
  align-items: flex-start;
  padding-left: 73px;
  padding-top: 30px;
  justify-content: space-between;
}


.filter fieldset {
  padding: 0;
  border: none;
  text-align: left;
  margin-right: 75px;
}

legend {
  display: block;
}

.filter-list {
  list-style: none;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 3px
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;
  width: 12px;
  height: 12px;
  background-image: url("../img/chekbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.price-filter-wrapper {
  width: 317px;
  height: 36px;
  margin-left: 363px;
  margin-right: 73px;
  margin-top: 27px;
}

legend,
caption {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.range {
  display: flex;
  border: 3px solid var(--basic-white);
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 315px;
  padding: 10px 30px 10px 30px;
  font-family: "PT Sans", Arial. sans-serif;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.range p {
  display: block;
  margin: 0;
}


.sorting-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.scrolling {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 3px 33px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 30%;
  margin: 3px 33px;
  border-bottom: 2px dotted var(--basic-blue);
}

.sorting-list a:focus {
  color: var(--basic-blue);
  opacity: 100%;
  border-bottom: none;
}

.sorting-list a:hover {
  color: var(--basic-blue);
  opacity: 100%;
}

.sorting-list a:active {
  color: var(--basic-black);
  opacity: 100%;
  border-bottom: none;
}

.hotels-list {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  list-style: none;
  padding: 0%;
}

.hotels-item-name-wrapper {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 45px 45px;
  width: 360px;
  height: 90px;
  margin: 0;
}

.hotels-item-name {
  grid-column: 1 / -1;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-item-name-wrapper p {
  padding: 10px;
  margin: 0;
  grid-row: 2 / 3;
}


.hotels-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 2px solid var(--basik-dark-white);
  border-bottom: 2px solid var(--basik-dark-white);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extralight-black);
  background-color: var(--basic-light-grey);
  padding: 3px 5px;
}

.rating-wrapper {
  width: 140px;
  /* margin-left: 500px; */
  transform: translateX(400px);
}

.hotels-item img {
  width: 135px;
  height: 90px;
  margin-left: 73px;
}



.hotels-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-light-black);
  display: grid;
  margin: 30px;
}

.button-more {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-more:hover {
  background-color: var(--basic-dark-blue);
}

.button-more:active {
  background-color: var(--basic-extra-dark-blue);
  color: rgba(255, 255, 255, 0.5);

}

.button-book:hover {
  background-color: var(--basic-dark-brown)
}

.button-book:active {
  background-color: var(--basic-extra-dark-brown);
  color: rgba(255, 255, 255, 0.5);
}



.hotels-item-name:hover {
  color: var(--basic-blue);
}

.hotels-item-name:active {
  opacity: 30%;
}
